<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
    <!---favicon-->
    <link rel="icon" href="{% static 'assets/info.png' %}">

</head>
<body>
<h2 id="first">About Us!!</h2>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium beatae cumque dicta, enim expedita facere fugit ipsa minus pariatur placeat possimus praesentium quidem rem saepe sequi tempore totam, voluptatibus?</span><span>Cupiditate dignissimos doloribus excepturi fuga hic magni mollitia pariatur placeat sit vitae! Ab amet asperiores aspernatur debitis esse excepturi exercitationem iure laboriosam officia omnis quia, ratione vitae. Amet, enim, fugit.</span><span>Dolorem ducimus excepturi mollitia, qui ratione reiciendis veritatis? Amet autem dolores molestias natus nesciunt odio officia quas repudiandae tempora vitae? Asperiores dolore itaque minima repudiandae tenetur vel veniam veritatis vero.</span></p>

<h2>Why choose us?</h2>
<div id="main">\

    <div class="mydiv">
        <img src="{% static 'assets/watch 1.png' %}" alt=":)" class="image">
        <h3>Sylvester model 1.2</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita fuga hic non, nostrum nulla tempora voluptate! Accusamus ad culpa cumque cupiditate dicta dolorum, eos excepturi laboriosam laborum quaerat repudiandae voluptas?</p>
        <button>more</button>
    </div>

    <div class="mydiv">
        <img src="{% static 'assets/watch 2.png' %}" alt=":)" class="image">
        <h3>Leistestar model 3.2</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita fuga hic non, nostrum nulla tempora voluptate! Accusamus ad culpa cumque cupiditate dicta dolorum, eos excepturi laboriosam laborum quaerat repudiandae voluptas?</p>
        <button>more</button>
    </div>

    <div class="mydiv">
        <img src="{% static 'assets/watch3.png' %}" alt=":)" class="image">
        <h3>Capsicum model 1.1</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita fuga hic non, nostrum nulla tempora voluptate! Accusamus ad culpa cumque cupiditate dicta dolorum, eos excepturi laboriosam laborum quaerat repudiandae voluptas?</p>
        <button>more</button>
    </div>

</div>
</body>
</html>