<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <style>
        h1{
            text-align: center;
            color: #ba2121;
            font-size: 50px;
            text-shadow: 4px 5px 20px #ffb1b1;

        }

    </style>
</head>
<body>
<marquee behavior="" direction=""><h1>ShopDish app</h1></marquee>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium aperiam architecto at doloremque eaque enim et facilis labore laboriosam, neque officiis optio qui repudiandae rerum similique sint. Aliquam, veniam!</span><span>A aperiam blanditiis debitis delectus distinctio et ex hic id iusto magnam, maxime minus nisi officiis placeat provident quia quo quos reprehenderit sequi temporibus veritatis vero vitae voluptatum? Exercitationem, suscipit!</span><span>Ab accusamus autem beatae deleniti, dignissimos, facere impedit iste molestias nemo numquam soluta vitae, voluptates. Animi, aperiam at aut distinctio error eum fugiat laboriosam laborum, omnis optio sequi suscipit vero.</span></p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur cum, cupiditate dolores dolorum ea excepturi explicabo in maxime molestias nihil nobis possimus, quis, totam! Eos error expedita illum incidunt totam.</p>
<p>:)</p>

</body>
</html>